body {
    background-color: black;
    margin: 0;
}

#screen {
    width: 800px;
    height: 600px;
    border: 1px solid gray;
}

.entity {
    position: absolute;
}

.alucard {
    background: url('./img/alucard.png');
}