body {
    background-color: black;
    margin: 0;
}

#screen {
    width: 800px;
    height: 600px;
}

.entity {
    position: absolute;
}

.player {
    background: url('1942.gif');
    background-position: -85px -180px;
    width: 28px;
    height: 28px;
}