body {
    background-color: black;
    margin: 0;
}

#screen {
    width: 160px;
    height: 320px;
    border: 1px solid gray;
}

#score {
    position: absolute;
    top: 350px;
    left: 30px;
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: white;
}

.entity {
    position: absolute
}

.block {
    width: 16px;
    height: 16px;
}

.block-i {
    background: url('./tetris-Alex13Art.png') -63px -20px;
}

.block-j {
    background: url('./tetris-Alex13Art.png') -46px -20px;
}

.block-l {
    background: url('./tetris-Alex13Art.png') -46px -3px;
}

.block-o {
    background: url('./tetris-Alex13Art.png') -63px -3px;
}

.block-s {
    background: url('./tetris-Alex13Art.png') -97px -20px;
}

.block-t {
    background: url('./tetris-Alex13Art.png') -114px -20px;
}

.block-z {
    background: url('./tetris-Alex13Art.png') -114px -37px;
}